<p>Hello {{name}},</p>
<p>Welcome to Ecom. Click the link below to confirm your mail, or please enter the OTP displayed below below</p>
<p>
    {{otp}}
</p>
<p>
    {{url}}
</p>

<p> If you did not make this reqest kindly ignore it</p>